
@{
    ViewData["Title"] = "Order Confirm";
}


<div class="alert alert-info">
    <p>
        <b>Order Confirm</b>
        <br />
        Your order has been successfully registered and you can see it in the list of orders
        <br />
        <a asp-action="Index" asp-controller="Orders">See Orders</a>
    </p>
</div>
